@media screen and (max-width: 600px) {
    .theme-btn {
      width: 50px;
      height: 50px;
    }
    .about-container {
      grid-template-columns: 1fr;
    }
    .about-container .right-about {
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .about-container .left-about {
      padding-right: 0;
    }
    .about-container .left-about p {
      padding-left: 0;
    }
    .timeline {
      grid-template-columns: 1fr;
      padding-bottom: 6rem;
    }
    .contact-content-con {
      flex-direction: column;
    }
    .contact-content-con .right-contact {
      margin-left: 0;
      margin-top: 2.5rem;
    }
    .contact-content-con .right-contact .i-c-2 {
      flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child {
      margin-left: 0;
      margin-top: 1.5rem;
    }
    .section {
      padding: 2rem 2.5rem;
    }
    .main-title h2 {
      font-size: 2.5rem;
    }
    .main-title .bg-text {
      font-size: 3rem;
    }
}

@media screen and (max-width: 1432px) {
  .contact-content-con{
    flex-direction: column;
    .right-contact{
      margin-left: 0;
      margin-top: 2.5rem;
    }
  }
  .contact-content-con .right-contact .i-c-2{
    flex-direction: column;
  }
  .contact-content-con .right-contact .i-c-2 :last-child {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 1070px) {
  .about-container{
    grid-template-columns: 1fr;
    .right-about{
      padding-top: 2.5rem;
    }
  }
  .portfolios{
    grid-template-columns: 1fr 1fr;
  }
  .main-title{
    h2{
      font-size: 4rem;
      span{
        font-size: 4rem;
      }
      .bg-text{
        font-size: 4.5rem;
      }
    }
  }
}
@media screen and (max-width: 970px) {
  .section{
    padding: 4rem 3rem;
  }
  header {
    padding: 0;
  }
  header .right-header {
    padding: 0 !important;
  }
  header .right-header {
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
  }
  header .right-header .name {
    font-size: 2.5rem !important;
    text-align: center;
    padding-top: 3rem;
  }
  .header-content {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
  }
  .left-header .h-shape {
    display: none;
  }
  .header-content .left-header .image {
    margin: 0 auto;
    width: 90%;
  }
  .controls {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
  .controls .control {
    margin: 0.6rem 1rem !important;
  }
}
@media screen and (max-width: 700px) {
  .section{
    padding: 4rem 1.8rem;
  }
  .about-stats .progress-bars {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolios {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 6rem;
    margin-top: 1rem;
  }
  .main-title{
    h2{
      font-size: 3rem;
      span{
        font-size: 3rem;
      }
      .bg-text{
        font-size: 4rem;
      }
    }
  }
}